// 通用样式
.u-dialog
  .u-dialog_close.v-btn
    position: absolute
    top: 4px
    left: 0
    z-index: 2
    color: $text-normal
  .v-card__title
    padding: 16px 52px
    text-align: center
  .u-dialog_title
    flex-grow: 1

// 登陆弹窗
.u-dialog.loginDialog
  .remember
    height: 28px
    $font-size(12px)
  .v-input--selection-controls
    margin-top: 0
    padding-top: 0
    &:not(.v-input--hide-details)
      .v-input__slot
        margin-bottom: 0
    .v-label
      $font-size(12px)
  .forgetPassword
    $font-size(12px)
    text-align: right
    .v-btn
      margin: 0
      height: 24px
      color: $text-normal
      font-weight: normal
      $font-size(12px)