.m-footer
  $font-size(12px)
  .item
    margin: 5px 0
    // padding: 0 15px
    height: 12px
    text-align: center
    line-height: @height
    &:not(:last-child)
      border-right: 1px solid $white
  &_action
    padding: 22px 0 18px
  &_country
    .ctyPic
      margin-right: 5px
      width: 16px
      height: 16px
  &_copyRight
    margin-top: 25px
    height: 45px
    line-height: @height
    text-align: center
    border-top: 1px solid $border-default
    color: $text-disabled