/*
 * @Author: Janzen 
 * @Date: 2019-03-04 18:54:05 
 * @Last Modified by:   Janzen 
 * @Last Modified time: 2019-03-04 18:54:05 
 */
/**
* 头部组件
*/
.theme--light.v-toolbar
  &.m-header
    background: $black-bg-content
    color: $white
    .v-btn
      color $white
    .v-toolbar__title
      margin-left: 0
    .iconfont
      $font-size(20px)