/*
 * @Author: Janzen 
 * @Date: 2019-03-04 18:54:01 
 * @Last Modified by: Janzen
 * @Last Modified time: 2019-04-04 11:53:23
 */
.m-nav,
.m-nav.v-tabs
  // $prefixerValue(position, sticky, webkit spec)
  top: 56px
  z-index: 99
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)
  