@charset "utf-8";
/************************************************************
 * 切换路由的淡入淡出效果
 */
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
/* 页面切换效果 */
@media (max-width: $gridArr.sm)
  .page-enter-active {
    transition: all .3s ease;
  }
  .page-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .page-enter,
  .page-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    // transform: translateX(10px);
    opacity: 0;
  }
  /* 放大后淡出 */
  .bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  /* 侧滑淡入,淡出无效果 */
  .sliderIn-enter-active {
    transition: all .7s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .sliderIn-leave-active {
    // transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .sliderIn-enter,
  .sliderIn-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }