/*
 * @Author: Janzen 
 * @Date: 2019-03-04 18:52:08 
 * @Last Modified by:   Janzen 
 * @Last Modified time: 2019-03-04 18:52:08 
 */
/**
* 基础颜色
*/
//  主颜色
$main = #03AA4D
//  辅助颜色
$white = #ffffff
$disabled = #cccccc
$warn = #FFBF00

/**
* 文字
*/
//  字体大小，方便全局改变字体大小
$font-size(val)
  font-size: val

//  文本颜色
$text-disabled = #999999
$text-normal = #666666
$text-important = #333333
$text-white = #ffffff
$text-danger = #d40000
$text-success = #0d8dff

//  全局边框颜色
$border-default = #E5E5E5
//  阴影色
$shadow = #bdbdbd
//  页面背景色
$bg-content = #eeeeee
//  背景色
$black-bg-content = #191919
