/**
* base module
*/

// 变量
@require './_var.styl'
// 通用重置样式
@require './_reset.styl'
// mixin
@import './_mixin.styl'
// cssproperty
@require './_cssproperty.styl'
// transsion
@require './_transsion.styl'
// animation
@require './_animation.styl'
// 页面切换效果
@require './_transform.styl'