.page-chat
  .m-header
    $prefixerValue(position, sticky, webkit spec)
    top: 0
    z-index: 1
  .v-list__tile
    &:active,
    &:hover
      background: $bg-content
    &__title,
    &__sub-title
      white-space: normal
      word-break break-all